---
title: Verificación de Usuario
image: /images/events/placeholder.webp
permanent: true
description: Consigue tu tick de verificación contribuyendo a la comunidad.
---

### ✅ ¡Verifícate en Jorbites! ✅

¡Queremos reconocer a nuestros colaboradores más dedicados! El tick de verificación es un símbolo de confianza y constancia dentro de la comunidad de Jorbites.

#### ¿Cómo conseguirlo? 🔓

Es sencillo: ¡comparte tu pasión! Una vez hayas publicado **30 o más recetas**, recibirás automáticamente el tick de verificación en tu perfil.

- **Automático**: No es necesario solicitarlo. Nuestro sistema revisa tus contribuciones y te lo concede.
- **Permanente**: Una vez lo consigas, será tuyo para siempre.

¡Demuestra al mundo tu experiencia culinaria y únete a nuestro grupo de chefs verificados! 👨‍🍳👩‍🍳
