---
title: Verificació d'Usuari
image: /images/events/placeholder.webp
permanent: true
description: Aconsegueix el teu tick de verificació contribuint a la comunitat.
---

### ✅ Verifica't a Jorbites! ✅

Volem reconèixer els nostres col·laboradors més dedicats! El tick de verificació és un símbol de confiança i constància dins de la comunitat de Jorbites.

#### Com aconseguir-lo? 🔓

És senzill: comparteix la teva passió! Una vegada hagis publicat **30 o més receptes**, rebràs automàticament el tick de verificació al teu perfil.

- **Automàtic**: No cal sol·licitar-ho. El nostre sistema revisa les teves contribucions i te'l concedeix.
- **Permanent**: Una vegada l'hagis guanyat, serà teu per sempre.

Demostra al món la teva experiència culinària i uneix-te al nostre grup de xefs verificats! 👨‍🍳👩‍🍳
